<!-- Cambiar el color del texto -->
<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Text Color</span>
</div>
<div class="config-option-format">
    <pv-color-picker id="textcolor" ng-model="config.TextColor"></pv-color-picker>
</div> 
<!-- Config del color de fondo -->
<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Background Color</span>
</div>
<div class="config-option-format">
    <pv-color-picker id="backgroundcolor" ng-model="config.BackgroundColor"></pv-color-picker>
</div> 
<!-- Config del tamaño de texto -->
<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Text Size (working on it)</span>
</div>
<div style="font-size: 14px; position:relative; margin: 6px 0;">
    <font-resize ng-model="config.FontSize">Font size</font-resize>
</div>
<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Show</span>
</div>
<!-- Config visibilidad del texto de fecha -->
<div class="c-config-content">Show Date:
    <input type="checkbox" ng-model="config.ShowDate">
</div>
<!-- Config de visibilidad del texto de tiempo -->
<div class="c-config-content">Show Time:
    <input type="checkbox" ng-model="config.ShowTime">
</div>
<!-- Config visibilidad del underline -->
<div class="c-config-content">Show Underline:
    <input type="checkbox" ng-model="config.ShowUnderline">
</div>